<main class="tasks-page">

  <h1>📋 Liste des tâches</h1>

  @if (tasks$ | async; as tasks) {

    <ul>
      @for (t of tasks; track t.id) {
        <li [class.completed]="t.completed">
            <span class="task-title">
                {{ t.title }}
            </span>
            <div class="task-actions">
                <button type="button" (click)="highlight(t)" title="Mettre en avant">
                ✨
                </button>
                <button type="button" (click)="editTask(t)" title="Éditer">
                ✏️
                </button>
                <button type="button" (click)="toggleCompleted(t.id)" title="Terminer">
                ✅
                </button>
                <button type="button" (click)="deleteTask(t.id)" title="Supprimer">
                🗑️
                </button>
            </div>
        </li>

      }
    </ul>

  } @else {
    <p>chargement des tâches...</p>
  }

  <div class="task-form">
    <input
      #taskInput
      placeholder="Nouvelle tâche..."
      (keyup.enter)="addTask(taskInput)"
    />
    <button (click)="addTask(taskInput)">Ajouter</button>
  </div>

  <div #highlightContainer></div>

</main>
